
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
}

h1 {
  font-size: 3em;
  margin: 0.25em 0;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-size: 1em;
}

.mytable {
  color: black;
  width: 950px;
  background: #e0ab86;
  border-collapse: collapse;
  border: 1 px solid black; */
  letter-spacing: 2px;
  text-transform: lowercase; */ */
  
}

.firstrow {
  background: hwb(258 60% 11%);
}

.rectangleodd {
  background: hwb(174 49% 12%);
}


.rectangleeven {
  background: hwb(337 49% 12%);
}